.heading{
  text-align: center;
  color: rgb(255, 157, 157);
  font-size: 38px;

}
.nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(183, 136, 136);
  color: rgb(208, 201, 201);
  padding: 0.5rem;
  gap: 4rem ;
  margin-bottom: 1.5rem;
}
.container{
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  width: 100%;
  cursor: pointer;
}

.nav a{
  display: inline-block;
  background-color: rgb(210, 163, 163);
  font-size: 18px;
  width: 100px;
  height: 50px;
  padding-top: 1rem;
  color: black;
  justify-content: center;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 1px 1px 9px rgb(223, 201, 201);
  border: solid 2px rgb(234, 173, 173);
}
.slot-machine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #6f0808;
  border-radius: 10px;
  padding: 10px;
  background-color: #d39494;
  width: 500px;
  margin: 20px auto;
}

.row {
  display: flex;
  margin-bottom: 5px;
  animation: moveRows 2s ease-in-out infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.rotate-animation {
  animation: rotate 2s linear;
}

@keyframes rotate {
  from {
      transform: rotateX(0deg);
  }
  to {
      transform: rotateX(360deg);
  }
}
.symbol {
  flex: 1;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  border: 2px solid #ff6363;
  border: solid 2px;
  margin: 0 5px;
}